@page "/"
@inject NavigationManager Navigation
@inject AuthenticationService AuthService

<PageTitle>Özferah Sitesi Yönetim</PageTitle>

<div class="welcome-container">
    <div class="welcome-header">
        <h1>Özferah Sitesi Yönetim</h1>
        <p>Hoş geldiniz! Burada site yönetimiyle ilgili işlemlerinizi kolayca gerçekleştirebilirsiniz.</p>
    </div>
    <div class="welcome-content">
        <h2>Yapabilecekleriniz</h2>
        <ul>
            <li>Aidat ödemelerini takip etme</li>
            <li>  <a href="#" @onclick="NavigateToLogin">Giriş Yap</a></li>
        </ul>
    </div>  
</div>

@code {
    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void Logout()
    {
        AuthService.Logout();
        Navigation.NavigateTo("/login");
    }
}

<style>
    .welcome-container {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .welcome-header {
        margin-bottom: 20px;
    }

    .logo {
        max-width: 100px;
        margin-bottom: 10px;
    }

    h1 {
        color: #2c3e50;
        font-size: 2.5em;
        margin: 0;
    }

    p {
        color: #7f8c8d;
        font-size: 1.2em;
    }

    .welcome-content {
        text-align: left;
        margin-top: 20px;
    }

    h2 {
        color: #34495e;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: square;
        color: #2c3e50;
        padding-left: 20px;
    }

    li {
        margin-bottom: 5px;
    }

    .survey {
        margin-top: 30px;
    }
</style>
