@using SiteYonetimAppServer.Services;
@inject AuthenticationService AuthService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SiteYonetimAppServer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (AuthService.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="bloks">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Bloklar
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="makbuzlar">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Makbuzlar
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Giriş Yap
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdf-generator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PDF
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
